@model LCMS.Web.Models.ApplicationUserChangePasswordVM

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <h2>Change password</h2>
                <div class="x_content">
                    <br />

                    @using (Html.BeginForm("ChangeUserPassword", "ApplicationUser", FormMethod.Post, new { id = "form", @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="PhoneNumber">
                                Old Password
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="PhoneNumber">
                                New Password
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="PhoneNumber">
                                Confirm Password
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <input type="submit" value="Change" class="btn btn-success" />
                                <button class="btn btn-primary" type="reset" onclick="clearData()">Clear</button>
                                <a href="/ApplicationUser/Dashboard" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function clearData() {
            $("#Name").val("");
            $("#EmailAddress").val("");
            $("#PhoneNumber").val("");
            $("#Password").val("");
        }
    </script>
}