@model LCMS.Web.Models.ApplicationUserEditVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">

        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">

                <h2>Application User Detail</h2>
                <div class="x_content">
                    <br />
                    @using (Html.BeginForm("EditUser", "ApplicationUser", FormMethod.Post, new { id = "form", @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                        @Html.HiddenFor(model => model.Id)
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="Name">
                                Name
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="EmailAddress">
                                Email Address
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="PhoneNumber">
                                Phone Number
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="Password">
                                Role
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6">
                                @Html.DropDownListFor(model => model.RoleId, (IEnumerable<SelectListItem>)ViewData["roleList"], new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <input type="submit" value="Save" class="btn btn-success" />
                                <a href="/ApplicationUser/UserIndex" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
   <script>
        $(document).ready(function () {
            var msg = '@TempData["ErrorMessage"]';
            if (msg != '') {
                toastr.error(msg);
            }
        });
        
</script>
}