@model LCMS.Web.Models.LoginVM

@{
    Layout ="~/Views/Shared/LoginLayout.cshtml";
}


        @using (Html.BeginForm("LoginUser", "ApplicationUser", FormMethod.Post, new { id = "form", @class = "form-horizontal p20" }))
        {
            @Html.AntiForgeryToken()
            <div id="login" class="input-group">
                <div id="margin">
                    <h3>Login</h3>
                    <p>Enter your email address and password to login</p>
                    <label for="email"> Email </label>
                    <div class="input-box">
                        @*<input type="email" name="email" placeholder="Enter your e-mail" id="email" autocomplete="off" required="*" />*@
                        @Html.EditorFor(model => model.EmailAddress)
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                    <br />

                    <!-- Password Field -->
                    <label for="Password">Password </label>
                    <a id="forget-password" href="">Forget Password? </a>
                    <div class="input-box">
                        @*<input id="Password" type="password" name="password" placeholder="Enter your password">*@

                        @Html.PasswordFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span id="eye-password" toggle="#Password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>

                    <br />
                    <br>



                    <button type="submit" class="submit-btn">Login</button>
                  
                </div>
            </div>
        }

