@model IEnumerable<LCMS.Models.TransactionHistory.TransactionHistoryDetail>

@{
    ViewBag.Title = "TransactionHistoryIndex";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h2>TransactionHistoryIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookPlace.BookCatalog.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPlace.PlaceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPlace.MaterialType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrasactionDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookPlace.BookCatalog.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPlace.PlaceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPlace.MaterialType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrasactionDate)
        </td>
    </tr>
}

</table>
