@model IEnumerable<LCMS.Models.TransactionHistory.TransactionHistoryDetail>

@{
    ViewBag.Title = "UserTransactionHistoryIndex";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


<table class="table">
    <tr>
        <th>Book name</th>
        <th>ISBN number</th>
        <th>Place code</th>
        <th>Material type</th>
        <th>Transaction type</th>
        <th>Transaction date</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookPlace.BookCatalog.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPlace.BookCatalog.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPlace.PlaceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPlace.MaterialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrasactionDate)
            </td>
        </tr>
    }

</table>
