@model IEnumerable<LCMS.Models.TransactionHistory.TransactionHistoryDetail>

@{
    ViewBag.Title = "UserTransactionHistoryIndex";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


<table class="table">
    <tr>
        <th>Name</th>
        <th>Place Code</th>
        <th>Material Type</th>
        <th>Transaction Type</th>
        <th>Transaction Date</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookPlace.BookCatalog.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPlace.PlaceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPlace.MaterialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrasactionDate)
            </td>
        </tr>
    }

</table>
