@model IEnumerable<LCMS.Models.BookCatalog.BookCatalogDetail>

@{
    ViewBag.Title = "BookCatalogIndex";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}


<table class="table" id="table">
    <tr>
        <th width="5%">Image</th>     
        <th>Name</th>
        <th>Summary</th>
        <th>ISBN Number</th>
        <th>Publication Year</th>
        <th>Edition</th>           
        <th>Authors</th>
        <th width="10%">Show Books</th>
        <th width="10%">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/BookCoverImages/@Html.DisplayFor(modelItem => item.CoverImage)" height="80" width="80" alt="@Html.DisplayFor(modelItem => item.CoverImage)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                <a href="/BookPlace/BookPlaceIndex/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-info">Show Books</a>
            </td>
            <td>
                <a href="/BookCatalog/Edit/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                <a href="/BookCatalog/Delete/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-danger"><i class="fa fa-trash"></i> </a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script>
        $(document).ready(function () {
            $("#table").DataTable();
        });

    </script>*@
}
