@model IEnumerable<LCMS.Models.BookPlace.BookPlaceDetail>

@{
    ViewBag.Title = "BookPlaceIndex";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h2>Book places @*for @ViewBag.BookName*@ </h2>
<a href="/BookPlace/Create" class="btn btn-primary"><i class="fa fa-plus"></i> Add Book </a>
<br /><br/>
@if (Model != null && Model.Count() > 0)
{
<table class="table">
    <tr>

        <th>
            Place code
        </th>
        <th>
            Material Type
        </th>
        <th>
            Check out by
        </th>
        <th>
            Check out date
        </th>        
        <th>Checkout</th>
        <th width="10%">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PlaceCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowedOn)
            </td>
            
            @if (item.BorrowedBy.Equals(0))
            {
                <td style="pointer-events: none;cursor: default; " >
                    <a href="" class="btn-sm btn-default">Check In</a>
                </td>
            }
            else
            {
                <td>
                    <a href="/BookPlace/CheckInBook/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-info" dis>Check In</a>
                </td>
            }
            <td>
                <a href="/BookPlace/Edit/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-info"><i class="fa fa-pencil"></i></a>
                <a href="/BookPlace/Delete/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-danger"><i class="fa fa-trash"></i> </a>
            </td>
        </tr>
    }

</table>
}
else
{
<h6>No Data Found!!!</h6>
}

@section Scripts {

    <script>

        $(document).ready(function () {
            toastShow();
        });

        function toastShow() {
                var msg = '@TempData["toast"]';
                var type = '@TempData["type"]';
                if (msg != '' && type != '') {
                    if (type == 'success')
                        toastr.success(msg);
                    else
                        toastr.error(msg);
                }
            }
    </script>
}
