@model IEnumerable<LCMS.Models.BookPlace.BookPlaceDetail>

@{
    ViewBag.Title = "MyCheckOuts";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<h2>My Checked Out Books</h2>
@if (Model != null && Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.BorrowedOn)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowedOn)
                </td>
                <td>
                    <a href="/BookPlace/CheckInBook/@Html.DisplayFor(modelItem => item.Id)" class="btn-sm btn-info">Check In</a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <h6>No Data Found!!!</h6>
}

@section Scripts {

    <script>
        $(document).ready(function () {            
            toastShow();
        });

        function toastShow() {
                var msg = '@TempData["toast"]';
                var type = '@TempData["type"]';
                if (msg != '' && type != '') {
                    if (type == 'success')
                        toastr.success(msg);
                    else
                        toastr.error(msg);
                }
            }
    </script>
}
